<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Update, Video</title>
    <link rel="icon" type="icon" href="{{url_for('static', filename='img/icons8-favorite-folder-32.png')}}">

    <!-- -------------------------- -->
    <!-- BOOTSTRAP -->
    <!-- local -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>

    <!-- icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.css') }}">
    <!-- -------------------------- -->

    <!-- STYLES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
    <style>
        .btn-close{
            background-color: red;
        }
    </style>
</head>

<body>
    <section>
        <div class="flash-message d-flex justify-content-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert w-100 alert-dismissible fade show" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-1"></i>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
              </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        </div>


        <div class="container">
            <h1>Update Video</h1>

            <form action="/update-video/{{ video[0] }}" method="POST">
                <input type="text" name="update-video-name" value="{{ video[1] }}" placeholder="Video Name" required>
                <input type="text" name="update-video-url" value="{{ video[2] }}" placeholder="Video URL" required>

                <div class="form-check form-switch mt-3">
                    {% if video[3] %}
                        <input class="form-check-input" name="update-is-favorite" 
                            type="checkbox" role="switch" id="switch1" value="yes" 
                            checked>
                    {% else %}
                        <input class="form-check-input" name="update-is-favorite" 
                        type="checkbox" role="switch" id="switch1" value="yes">
                    {% endif %}

                    
                    <label class="form-check-label" for="switch1">Favorite</label>
                </div>

                <div class="mb-3">
                    <label class="lead mb-2" for="">Video type</label>
                    <br>
                    <select name="update-video-type" class="w-100" aria-label="small select example">
                        <option value="{{ video[4] }}" class="">{{ video[4] }}</option>

                        <option value="Audiobook" class="">Audiobook</option>
                        <option value="Backing-tracks" class="">Backing-tracks</option>
                        <option value="Education" class="">Education</option>
                        <option value="Entertainment" class="">Entertainment</option>
                        <option value="Music" class="">Music</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Food">Food</option>
                        <option value="Animation">Animation</option>
                        <option value="Tutorial">Tutorial</option>
                        <option value="Shorts" class="">Shorts</option>
                        <option value="Other" class="">Other</option>
                    </select>
                </div>

                <button class="btn w-50 mb-3" id="btn-update" type="submit">Update details</button>
            </form>
            <a href="{{ url_for('controller_video.videos_get') }}" class="btn btn-outline-light w-50 mb-3">Go Back</a>
        </div>
    </section>
</body>

</html>